body {
    font-family: Arial;
}



.Black-bar{
display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
height: auto;
padding: 20px;
background-color: black;
font-size : 25px;
box-shadow: 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px  17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);
color:white;
text-align: center;
}

.Main-news{
padding: 9px;
margin-bottom: 5px;
border-radius: 10px;
font-size: 18px;
background-color:black;
text-decoration: none;
border: none;
color: white;
display: inline-block;
width: 40%;
top: 300px
}

.Side-news1,.Side-news2, .About,.Biodata {
padding: 9px;
margin-bottom: 5px;
border-radius: 10px;
font-size: 18px;
background-color:black;
text-decoration: none;
border: none;
color: white;
display: inline-block;
width: 25%;
}

.SN1, .SN2 , .MN1,.B1,.A1,.A2{
    text-align: center;
}

.Nav{
padding: 9px;
margin-bottom: 5px;
font-size: 18px;
text-align: center;
background-color:black;
text-decoration: none;
border: none;
color:white;
display: inline-block;
width: 100%;
}

.main-news {
position:absolute;
left:560px;
top: 100px
}

.Biodata {
Position: absolute;
right: 10px;
Bottom:530Px
}

.About {
Position: absolute;
right:10px;
bottom : 350px
}

